/* CSS reset properties */

html,
body {
  margin: 0px;
  padding: 0px;
  background-color: #1d1d1d;
}

/* header CSS properties */

.headerContainer {
  height: 14vh;
  background-color: #000000;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 169, 57);
  margin: 14px 0px 14px;
}

.logo-text {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 34px;
  text-decoration: none;
  color: #0f0808;
}

.navlinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navlinks a {
  text-decoration-color: rgb(255, 169, 57);
  text-decoration-thickness: 5px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.headerImage {
  height: 300px;
  padding: 0px;
  position: relative;
}

.head-img {
  height: 100%;
  width: 100%;
  background-image: url("../images/header-img.png");
}

.avatar {
  position: absolute;
  top: 170px;
  left: 80px;
}

.tagline {
  background-color: rgb(255, 169, 57);
  position: absolute;
  top: 188px;
  right: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  padding: 24px;
}

/* main content CSS properties */

/* Grid Properties */
.content {
  height: 154vh;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "leftTop rightTop"
    "leftMiddle rightMiddle"
    "leftBottom rightBottom";
}

.sideLine {
  position: absolute;
  width: 0.4%;
  height: 100%;
  background-color: rgb(255, 169, 57);
  left: 340px;
}

.title1 {
  grid-area: leftTop;
}

.desc1 {
  grid-area: rightTop;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgb(255, 169, 57);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 22px;
  padding: 22px;
  color: #000000;
  margin: 12px 0px 12px 0px;
}

.title2 {
  grid-area: leftMiddle;
}

.desc2 {
  position: relative;
  grid-area: rightMiddle;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "mainImg mainImg"
    "leftMidImg rightMidImg"
    "leftBttmImg rightBttmImg";
}

.pro1 {
  position: absolute;
  width: 190px;
  height: 64px;
  top: 244px;
  left: 10px;
  background-color: rgb(255, 169, 57);
}

.pro2 {
  position: absolute;
  width: 190px;
  height: 50px;
  top: 430px;
  left: 10px;
  background-color: rgb(255, 169, 57);
}

.pro3 {
  position: absolute;
  width: 190px;
  height: 50px;
  top: 430px;
  right: 368px;
  background-color: rgb(255, 169, 57);
}

.pro4 {
  position: absolute;
  width: 190px;
  height: 50px;
  top: 600px;
  left: 10px;
  background-color: rgb(255, 169, 57);
}

.pro5 {
  position: absolute;
  width: 190px;
  height: 50px;
  top: 600px;
  right: 368px;
  background-color: rgb(255, 169, 57);
}

.project1 {
  grid-area: mainImg;
  background-image: url("../images/FootballNews.png");
  background-size: cover;
}

.project2 {
  grid-area: leftMidImg;
  background-image: url("../images/Horiseon-Project.png");
  background-size: cover;
}

.project3 {
  grid-area: rightMidImg;
  background-image: url("../images/Prework-Study.png");
  background-size: cover;
}

.project4 {
  grid-area: leftBttmImg;
  background-image: url("../images/JakesBakery.png");
  background-size: cover;
}

.project5 {
  grid-area: rightBttmImg;
  background-image: url("../images/FurnitureStore.png");
  background-size: cover;
}

.desc3 {
  grid-area: rightBottom;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* styling */
.title1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 169, 57);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 32px;
}
.title2 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: rgb(255, 169, 57);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 32px;
}

.title3 {
  grid-area: leftBottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title1,
.title2,
.title3 {
  color: rgb(255, 169, 57);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 28px;
}

.desc2 > a {
  border: 8px solid rgb(255, 169, 57);
  margin: 4px;
}

.desc2 > a:hover {
  opacity: 0.3;
}

.pro1,
.pro2,
.pro3,
.pro4,
.pro5 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc3 > h3 {
  color: rgb(255, 169, 57);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
}

h3 > p > a {
  color: white;
  font-weight: 200;
  font-size: 18px;
  text-decoration-color: rgb(255, 169, 57);
}

.navlinks > div:hover {
  background-color: rgba(255, 169, 57, 0.401);
}

/* footer CSS properties */

.footer {
  background-color: rgb(255, 169, 57);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

/* media queries properties */

@media only screen and (max-width: 768px) {
  .headerContainer {
    height: 12vh;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo {
    margin: 0;
    padding: 10px;
  }

  .logo-text {
    font-size: 18px;
  }

  .no-display {
    display: none;
  }

  .navlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
  }

  .navlinks a {
    text-decoration-color: rgb(255, 169, 57);
    text-decoration-thickness: 1.5px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin: 28px;
  }

  .headerImage {
    height: 146px;
    background-repeat: no-repeat;
    position: relative;
  }

  .head-img {
    height: 100%;
    width: 100%;
    background-image: url("../images/header-img-mobile.png");
    background-size: cover;
  }

  .tagline {
    background-color: rgb(255, 169, 57);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 50px;
    right: 50px;
    top: 10px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 12px;
    padding: 8px;
  }

  .avatar {
    position: absolute;
    top: 75px;
    left: 140px;
  }

  #AboutMe img {
    width: 160px;
    height: 160px;
  }

  .content {
    height: 100vh;
    display: grid;
    margin-top: 66px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: none;
    grid-template-areas:
      "aboutme"
      "desc-1"
      "projects"
      "desc-2"
      "contact-"
      "desc-3";
  }

  .title1 {
    grid-area: aboutme;
    margin: 20px 0px 0px 0px;
  }

  .desc1 {
    grid-area: desc-1;
    display: flex;
    background-color: rgb(255, 169, 57);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding: 8px;
    color: #000000;
    text-align: center;
    margin: 20px 0px 0px 0px;
    height: 140px;
  }

  .title2 {
    grid-area: projects;
    margin: 20px 0px 0px 0px;
    align-items: center;
  }

  .desc2 {
    grid-area: desc-2;
    margin: 20px 0px -200px 0px;
  }

  .desc2 > a {
    border: none;
  }

  .title3 {
    grid-area: contact-;
    margin: 220px 0px 0px 0px;
    align-items: center;
  }

  .desc3 {
    grid-area: desc-3;
    display: flex;
    flex-direction: column;
  }

  .desc3 > h3 {
    color: rgb(255, 169, 57);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    margin-top: 0px 0px 0px 0px;
  }

  h3 > p > a {
    color: white;
    font-weight: 200;
    font-size: 10px;
    text-decoration-color: rgb(255, 169, 57);
    margin: 0px 0px 0px 0px;
  }

  .pro1,
  .pro2,
  .pro3,
  .pro4,
  .pro5 {
    display: none;
  }

  .project1,
  .project2,
  .project3,
  .project4,
  .project5 {
    background-size: cover;
  }

  .title1,
  .title2,
  .title3 {
    color: rgb(255, 169, 57);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 18px;
  }

  .sideLine {
    display: none;
  }

  .footer {
    background-color: rgb(255, 169, 57);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 12px;
  }
}
