html, body {
    margin: 0px;
    padding: 0px;
    background-color: #1d1d1d;
}

/* header CSS properties */

.headerContainer {
    height: 14vh;
    background-color: #000000;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 169, 57);
    margin: 14px 0px 14px;
}

.logo-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 34px;
    text-decoration: none;
    color:#0f0808;
   
}

.navlinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navlinks a {
    text-decoration-color: rgb(255, 169, 57);
    text-decoration-thickness: 5px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.headerImage {
    display: flex;
    flex-direction: row;
    height: 300px;
    padding: 0px;
}

.head-img {
    height: 100%;
    width: 100%;
    align-items: center;
    object-fit: cover;
    background-image: url("../images/header-img.png");
}

/* main content CSS properties */

/* Grid Properties */
.content {
    height: 154vh;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr ;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "leftTop rightTop"
    "leftMiddle rightMiddle"
    "leftBottom rightBottom";
}

.title1 {
    grid-area: leftTop;
}

.desc1 {
    grid-area: rightTop;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(255, 169, 57);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 22px;
    padding: 22px;
    color:#000000;
}

.title2 {
    grid-area: leftMiddle;
}

.desc2 {
    grid-area: rightMiddle;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "mainImg mainImg"
    "leftMidImg rightMidImg"
    "leftBttmImg rightBttmImg";
}

.project1 {
    grid-area: mainImg;
    background-image: url("../images/FootballNews.png");
    align-items: center;
    object-fit: contain;
}

.project2 {
    grid-area: leftMidImg;
    background-image: url("../images/Horiseon-Project.png");
}

.project3 {
    grid-area: rightMidImg;
    background-image: url("../images/Prework-Study.png");
}

.project4 {
    grid-area: leftBttmImg;
    background-image: url("../images/JakesBakery.png");
}

.project5 {
    grid-area: rightBttmImg;
    background-image: url("../images/FurnitureStore.png");
}


.title3 {
    grid-area: leftBottom;
    display: flex;
    justify-content: center;
    align-items:center;
    color: rgb(255, 169, 57);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 32px;
}

.desc3 {
    grid-area: rightBottom;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* styling */

.title1, .title2 {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    color: rgb(255, 169, 57);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 32px;
}

.desc2> a {
    border: 8px solid rgb(255, 169, 57);
    margin: 4px;
}

.desc3> h3{
    color: rgb(255, 169, 57);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
}

h3> p> a{
    color: white;
    font-weight: 200;
    font-size: 18px;
    text-decoration-color: rgb(255, 169, 57);
}



/* footer CSS properties */

.footer {
    background-color:rgb(255, 169, 57);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

/* media queries properties */

