html, body {
    margin: 0px;
    padding: 0px;
}

/* header CSS properties */

.headerContainer {
    height: 14vh;
    background-color: #173753;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6DAEDB;
    margin: 14px 0px 14px;
}

.logo-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    font-weight: bolder;
    text-decoration: none;
    color: white;
   
}

.navlinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navlinks a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.headerImage {
    display: flex;
    flex-direction: row;
    height: 300px;
    padding: 0px;
}

.head-img {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    object-fit: cover;
    background-image: url("../images/header-img.png");
}

/* main content CSS properties */

.content {
    border: 4px solid red;
    height: 200vh;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr ;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "leftTop rightTop"
    "leftMiddle rightMiddle"
    "leftBottom rightMiddle";
}

.title1 {
    grid-area: "leftTop";
    border: 1px solid yellow;
}

.desc1 {
    grid-area: "rightTop";
    border: 1px solid orange;
}

.title2 {
    grid-area: "leftMiddle";
    border: 1px solid rgb(255, 0, 174);
}

.desc2 {
    grid-area: "rightMiddle";
    border: 1px solid rgb(27, 165, 121);
}

.title3 {
    grid-area: "leftBottom";
    border: 1px solid yellow;
}

.desc3 {
    grid-area: "rightBottom";
    border: 1px solid orange;
}


/* footer CSS properties */

.footer {
    background-color:#173753;
    height: 10vh;
}

/* media queries properties */

